.custom-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .contentModalPassword {
  width: 700px;
  background: white;
  padding: 20;
  border-radius: 5;
} */

/* .custom-modal {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 999;
} */

.contentModalPassword {
  color: #ffffff;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fw-bold {
  font-weight: bold;
}

.mb-4 {
  margin-bottom: 1rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.closeButton {
  cursor: pointer;
}

.formGroup {
  width: 450px;
}

.formemail {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}
