/* .schedule_section {
  position: relative;
  min-height: 100vh;
}

.btn-create-schedule {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
} */
